body, *{
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

section, .container{
  position: relative;
  z-index: 2;
}

.row{
  &.small{
    @include gridbs(7px);
  }

  &.medium{
    @include gridbs(18px);
  }

  &.large{
    @include gridbs(24px);
  }

  &.not-gutter{
    @include gridbs(0px);
  }

}//.row

