// Estilos extras para fins específicos

.loading{
  text-align: center;
  font-size: em(20);
  color: palette(brand, primary);
  padding: 2.5rem 0.6rem;
}

.page-404{
  text-align: center;
  padding: 60px 20px;
}